body {
    margin: 0;
}
.box {
    margin: 20px -5px 40px 0px;
    border: 1px ridge rgba(37, 36, 39, 1);
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 1);
}
.name-comic {
    padding: 12px 24px;
    
}
.chapter {
    padding: 0;
    margin: 0;
}
.line {
    margin: 0;
}
li {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    list-style-type: none;
}
.pic {
    width: 100%;
    height: 271px;
}
p {
    font-size: 16px;
    line-height: 24px;
}
.line-chapter {
    padding: 4px 0;
}
.view {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    font-size: 12px;
    line-height: 18px;
}
.chap {
    text-decoration: none;
    color: rgba(37, 36, 39, 1);
}
i {
    color: rgba(121, 121, 121, 1);
}